<html>
<head></head>
<body>
<div>
 <form ngNativeValidate>
<div class="col-sm-12 col-md-4">
    <div class="form-group">
      <label for="docDesc">Content Type </label>
      <select #documentTypeList class="form-control"
       id="docDesc" name="docDesc" (change)="onChangeMake(documentTypeList)">
      
          <option *ngFor="let doc of checklist" [value]="doc.id" >
              {{doc.text}}
            </option>
      </select>
   
    </div>
    <br>

    <div *ngIf="this.enableDate">
      
        <label for="startDate">Start Date</label>
                        
        <my-date-picker name="dateCheck.startDate" 
        [options]="myDatePickerOptions"
        [(ngModel)]="dateCheck.startDate" 
      
        
        >
          </my-date-picker>
         
    
          <label for="endDate">End Date</label>
                        
          <my-date-picker name="dateCheck.endDate" 
          [options]="myDatePickerOptions"
          [(ngModel)]="dateCheck.endDate" 

          >
            </my-date-picker>
         
    Last Month:<input type="radio" (click)="dateChange($event.target.value)" name="group1"
      id ="1" value="1" >  <br>
    Last 15Days:<input type="radio" (click)="dateChange($event.target.value)"  name="group1" 
     
    value="2"> <br> 
    Last 7Days:<input type="radio" (click)="dateChange($event.target.value)" name="group1" value="3"> <br>
    Yesterday<input type="radio" (click)="dateChange($event.target.value)" name="group1" value="4" > <br>
    Tomorrow<input type="radio" (click)="dateChange($event.target.value)" name="group1"value="5"> <br>
    Next 7days<input type="radio" (click)="dateChange($event.target.value)" name="group1" value="6"> <br>
    Next 15Days<input type="radio" (click)="dateChange($event.target.value)" name="group1" value="7"> <br>
    Next 1 Month<input type="radio" (click)="dateChange($event.target.value)" name="group1" value="7"> 
    </div>
  </div>
  </form>
</div>

</body>
</html>

